<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/img/logouteC.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>Adulto Mayor | Home</title>
</head>

<body>
    <aside>
        <nav>
            <h5>Adulto Mayor</h5>
            <div class="datos">
                <figure>
                    <img src=" <%= typeof file != 'undefined' ? file : '' %>" class="responsive-file">
                </figure>
                <div class="info">
                    <h4><%= `${user.nombres} ${user.apat} ${user.amat}` %></h4>
                    <h4><%= `Registro: ${user.registro}` %></h4>
                    <h4><%= `CI: ${user.ci}` %></h4>
                    <h4><%= `Email: ${user.email}` %></h4>
                    <h4><%= `Cel: ${user.telf}` %></h4>
                    <h4><%= `Voluntario: ${user.nombre}` %></h4>
                </div>
            </div>
            <hr>
            <ul>
                <li>
                    <a onclick="location.href = '/home/0'"><span><i class="material-icons prefix">person</i></span>
                        Principal</a>
                </li>
                <li>
                    <a href=""><span><i class="material-icons prefix">account_circle</i></span> Asistencia</a>
                </li>
                <li>
                    <a href=""><span><i class="material-icons prefix">content_paste</i></span> Reportes</a>
                </li>
                <li>
                    <a onclick="location.href = '/logout'"><span><i class="material-icons prefix">arrow_back</i></span>
                        Log out</a>
                </li>
            </ul>
        </nav>
        <figure>
            <img src="../public/img/logouteC.png" alt="">
            <h6>Centro de Desarrollo</h6>
        </figure>
    </aside>
    <main class="mainHome">
        <% if (rol ==  'Administrador') { %>
        <% include menu.ejs %>
        <%} %>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>